html
    body
        h1 Example Usage of vite-pug-adapter
        p You need to put Pug files in your root, as shown in this example.
        p If you need, you can also use stylus or much more cool modules at the same time.
        h2 Advantages of Pug
        p Pug is clean, doesn't disturb your thoughts while making your static webpage!
        ul
            li
                a(href="/about") about page
            li
                a(href="/page1") page1
            li
                a(href="/page2") page2
